:root {
    --font: 'Poiret One', sans-serif;
    --background-color: lightskyblue;
    --title-color: #444;
    --white: snow;
    --blue: lightskyblue;
    --shadow: darkgray;
    --gray: #aaa;
    --gray2: gray;
    --light: lightgray;
    --dark: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background-color);
    font-size: 16px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--title);
    width: 50px;
}

.rotate {
    transform: rotate(-90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

.wrapper {
    background: var(--white);
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px var(--shadow);
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .currentdate {
    font-size: 1.75rem;
    font-weight: 800;
}

header .icons span {
    height: 28px;
    width: 28px;
    background: var(--white);
    margin: 0 1px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: var(--gray2);
    font-size: 1rem;
}

header .icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    color: var(--blue);
}

.month {
    color: var(--blue);
    font-size: 1.5rem;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;
}

.calendar .weeks li {
    font-weight: 600;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    margin-top: 25px;
    cursor: pointer;
    z-index: 1;
}

.days li.inactive {
    color: var(--gray);
}

.days li.active {
    color: var(--dark);
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.days li:hover::before {
    background: var(--light);
}

.days li.active::before {
    background: var(--background-color);
}